<% if logged_in? && (current_user == @user || current_user.admin?) %>
<h3><%= "#{@user.username}" %></h3>
<div>
  <div class='row'>
    <div class= 'span5 small well well'>
      <h5>Email Address </h5>
      <%= @user.email %>
    </div>
    <div class= 'span5 small well well'>
      <h5>Time Zone</h5>
      <%= @user.time_zone %>
    </div>
  </div>

  <div>
    <% @user.posts.each do |post| %>
    
     <%= render 'posts/post', post: post %> 
    
    <% end %>
  </div>


  <div>
    <div class='span8 well well-small'>  
      <% @user.comments.each do |comment| %>
        <%= comment.body %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
 <div>


