<h3>Welcome!</h3>


<dl>
  <% @post.each do |post| %>
    <div class="well well-small">
      <dt>

        <%= link_to '+', vote_post_path(post, vote: true), method: 'post', remote: true if logged_in? %>
        <span id="post_<%=post.slug%>_votes">[<%= post.total_votes %> ]</span>

        <%= link_to '-', vote_post_path(post, vote: false), method: 'post', remote: true if logged_in? %>
        |
        <%= link_to post.title, post_path(post) %> (<%= link_to "edit", edit_post_path(post)%>)</dt>
        <br/>
      <dd>Post by <%= post.user.username %> on <%= pretty_time(post.created_at) %></dd>
        <%= link_to "Comments", post_path(post) %> (<%= post.comments.size %>)
      <br/> 
    </div>
  <% end %> 
</dl>




