<h3>Welcome!</h3>



  <% @post.each do |post| %>
    <div class='row'>
      <div class='span2'>
        <div class="well">
            <div style="text-align: center;">
              <%= link_to '+', vote_post_path(post, vote: true), method: 'post', remote: true if logged_in? %>

              <span id="post_<%=post.slug%>_votes"><%= post.total_votes %></span>
              
              <%= link_to '-', vote_post_path(post, vote: false), method: 'post', remote: true if logged_in? %>
            </div>
        </div>
      </div>
      <div class='span8'>
        <div class="well well-small">
          <%= link_to post.title, post_path(post) %> (<%= link_to "edit", edit_post_path(post)%>)
        <br/>
         <dd>Post by <%= post.user.username %> on <%= pretty_time(post.created_at) %></dd>
          <%= link_to "Comments", post_path(post) %> (<%= post.comments.size %>)
        </div>
      </div>
      <br/> 
    </div> 
  <% end %> 




