<%= render 'shared/errors', obj: @comment %>

<h3>Show Post</h3>
<ul>
  <h3><%= link_to @post.title, fix_url(@post.url) %></h3>
  <h6>Description</h6>
  <li><%= @post.description %></li>



<h6>Categories</h6>
  <% @post.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>

<h6>Comments</h6>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body, "Your Thoughts" %>
  <%= f.text_area :body %>
  <p> <%= f.submit 'Create comment' %> </p>
<% end %>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>
