<%= render 'shared/errors', obj: @comment %>


<div class='row'>
  <div class='span4'> 
    <h3><%= link_to @post.title, fix_url(@post.url) %></h3>
    
      <p>Description</p>
      <li><%= @post.description %></li>

  <h6>Categories</h6>
    <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
    <% end %>
  </div>

  

  <div class='span8'>
    <h6>Comments</h6>

    <% if logged_in? && current_user.admin? %>
      <%= form_for [@post, @comment] do |f| %>
       <%= f.label :body, "Your Thoughts" %>
       <%= f.text_area :body %>
        <p> <%= f.submit 'Create comment' %> </p>
     <% end %>
    <% end %>
  </div>
</div>
<div class='well well-small'>
    <dt>
      <% @post.comments.each do |comment| %>
      <%= link_to '+', vote_post_path(post.comments, vote: true) %> <li><%= comment.body %></li>
      <% end %>
    </dt>
</div>

  

